@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "josefin-sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9375rem;
}

.attribution {
  font-family: "alata", sans-serif;
  font-weight: 400;
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 41%);
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  font-size: 0.6875rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .main-section {
  padding: 2rem 2rem 20rem 2rem;
  background: url(./images/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav .nav__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: hsl(0, 0%, 100%);
}
.nav .nav__link {
  text-transform: uppercase;
  font-size: 2rem;
}
.nav .nav__dialog {
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: hsl(0, 0%, 0%);
  flex-direction: column;
  gap: 10rem;
}
.nav .nav__button {
  border: none;
  background: none;
}
.nav .nav__button:hover {
  cursor: pointer;
}
.nav .nav__icon-path {
  fill: hsl(0, 0%, 100%);
}

.main-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-div__close-button {
  border: none;
  background: none;
}

.main-div__close-button:hover {
  cursor: pointer;
}

.nav__dialog--active {
  display: flex;
}

.main-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-content .main-content__description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-content .main-content__description .main-content__subtitle {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}
.main-content .main-content__description .main-content__text {
  font-family: "alata", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 55%);
  text-align: center;
  line-height: 2rem;
}

.main-header {
  padding: 1rem;
  border: 0.125rem solid hsl(0, 0%, 100%);
  overflow: hidden;
}

.main-header__title {
  width: 8ch;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.0938rem;
}

.creations {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.creations .creations__title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.creations .creations__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.creations .creations__item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.creations .creations__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  position: relative;
  filter: brightness(0.6);
}
.creations .creations__item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 2;
  opacity: 1;
  cursor: pointer;
}
.creations .creations__item:hover .creations__image {
  filter: brightness(1);
}
.creations .creations__name {
  font-size: clamp(0.625rem, -0.0962rem + 5.7692vw, 2.5rem);
  width: 10ch;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 5%;
  color: hsl(0, 0%, 100%);
  z-index: 3;
}
.creations .creations__item:hover .creations__name {
  color: hsl(0, 0%, 0%);
}
.creations .creations__button {
  font-size: 1.25rem;
  width: 9.375rem;
  height: 40px;
  text-transform: uppercase;
  background: none;
  border: 0.0625rem solid hsl(0, 0%, 0%);
}
.creations .creations__button:hover {
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  font-family: "alata", sans-serif;
  font-weight: 400;
  padding: 2rem 2rem 0;
  background: hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer .footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer .footer__link {
  color: hsl(0, 0%, 100%);
}
.footer .footer__logo {
  width: 50%;
}
.footer .footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer .footer__social-item {
  display: flex;
  justify-content: center;
}
.footer .footer__social-item:hover {
  cursor: pointer;
}
.footer .footer__text {
  font-family: "alata", sans-serif;
  font-weight: 400;
  text-align: center;
  color: hsl(0, 0%, 41%);
}

@media screen and (width >= 800px) {
  main .main-section {
    background: url(./images/image-hero-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 8rem 8rem 8rem;
  }
  main .main-header__title {
    width: 16ch;
    font-size: 4rem;
  }
  .main-header {
    padding: 2rem;
    width: fit-content;
  }
  .nav {
    flex-direction: row;
  }
  .nav .nav__logo {
    padding-bottom: 0.75rem;
  }
  .nav .nav__list {
    flex-direction: row;
  }
  .nav .nav__link {
    font-family: "alata", sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 1rem;
  }
  .nav .nav__item {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    position: relative;
    border-bottom: 4px solid transparent;
  }
  .nav .nav__item::before {
    padding-bottom: 0.5rem;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-bottom: 4px solid #fff;
    display: none;
  }
  .nav .nav__item:hover::before {
    display: block;
  }
  .main-content {
    padding: 8rem 8rem 0rem 8rem;
    position: relative;
    flex-direction: row;
  }
  .main-content .main-content__image {
    min-width: 80%;
  }
  .main-content .main-content__description {
    position: absolute;
    bottom: -5px;
    right: 4rem;
    height: 60%;
    width: 40%;
    padding: 0;
    background: hsl(0, 0%, 100%);
    padding-left: clamp(0.5rem, -5rem + 12.2222vw, 6rem);
    padding-top: clamp(0.5rem, -5rem + 12.2222vw, 6rem);
  }
  .main-content .main-content__description .main-content__subtitle {
    font-size: clamp(1.5rem, -0.5rem + 4.4444vw, 3.5rem);
    text-align: left;
  }
  .main-content .main-content__description .main-content__text {
    font-size: clamp(0.75rem, 0.375rem + 0.8333vw, 1.125rem);
    text-align: left;
    flex: 1;
  }
  .creations {
    padding: 8rem;
  }
  .creations .creations__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .creations .creations__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
  }
  .creations .creations__name {
    font-size: clamp(1.125rem, -0.25rem + 3.0556vw, 2.5rem);
    top: 70%;
    left: 5%;
  }
  .footer {
    padding: 2rem 8rem 0rem 8rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .footer__logo-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer .footer__list {
    flex-direction: row;
  }
  .footer .footer__social-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer .footer__socials {
    justify-content: flex-end;
  }
  .footer .footer__social-item {
    padding-bottom: 8px;
    border-bottom: 0.25rem solid transparent;
  }
  .footer .footer__social-item:hover {
    cursor: pointer;
    border-bottom: 0.25rem solid #fff;
  }
  .footer .footer__logo {
    padding-bottom: 0.75rem;
  }
  .footer .footer__item {
    padding-bottom: 0.5rem;
    position: relative;
    border-bottom: 4px solid transparent;
  }
  .footer .footer__text {
    padding-bottom: 0.75rem;
  }
  .footer .footer__item::before {
    padding-bottom: 0.5rem;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-bottom: 4px solid #fff;
    display: none;
  }
  .footer .footer__item:hover::before {
    display: block;
  }
  .attribution {
    text-align: end;
    padding-right: 8rem;
    padding-bottom: 2rem;
  }
}/*# sourceMappingURL=style.css.map */